@font-face {
  font-family: "Abel";
  font-display: block;
  font-style: normal;
  font-weight: 400;
  src: local("☺"),
    url(https://fonts.gstatic.com/s/abel/v8/MwQ5bhbm2POE2V9BPQ.woff2)
      format("woff2");
}

html {
  scroll-behavior: smooth;
}

body {
  z-index: 0;
  display: flex;
  background-color: #272934;
  background-attachment: fixed;
  background-size: cover;
  font-size: 20px;
  flex-flow: wrap;
}

.frameVertical {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: space-between;
}

.frameHorizontal {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
}

/*
 * prettyprint
 */

pre .str,
code .str {
  color: #65b042;
} /* string  - green */
pre .kwd,
code .kwd {
  color: #e28964;
} /* keyword - dark pink */
pre .com,
code .com {
  color: #aeaeae;
  font-style: italic;
} /* comment - gray */
pre .typ,
code .typ {
  color: #89bdff;
} /* type - light blue */
pre .lit,
code .lit {
  color: #3387cc;
} /* literal - blue */
pre .pun,
code .pun {
  color: #fff;
} /* punctuation - white */
pre .pln,
code .pln {
  color: #fff;
} /* plaintext - white */
pre .tag,
code .tag {
  color: #89bdff;
} /* html/xml tag    - light blue */
pre .atn,
code .atn {
  color: #bdb76b;
} /* html/xml attribute name  - khaki */
pre .atv,
code .atv {
  color: #65b042;
} /* html/xml attribute value - green */
pre .dec,
code .dec {
  color: #3387cc;
} /* decimal - blue */

pre.prettyprint,
code.prettyprint {
  background-color: #000;
  border-radius: 8px;
}

pre.prettyprint {
  width: 95%;
  margin: 1em auto;
  padding: 1em;
  white-space: pre-wrap;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae;
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
}
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
}

@media print {
  pre .str,
  code .str {
    color: #060;
  }
  pre .kwd,
  code .kwd {
    color: #006;
    font-weight: bold;
  }
  pre .com,
  code .com {
    color: #600;
    font-style: italic;
  }
  pre .typ,
  code .typ {
    color: #404;
    font-weight: bold;
  }
  pre .lit,
  code .lit {
    color: #044;
  }
  pre .pun,
  code .pun {
    color: #440;
  }
  pre .pln,
  code .pln {
    color: #000;
  }
  pre .tag,
  code .tag {
    color: #006;
    font-weight: bold;
  }
  pre .atn,
  code .atn {
    color: #404;
  }
  pre .atv,
  code .atv {
    color: #060;
  }
}

/*
 * content
 */

.content {
  width: 66vw;
  max-width: 1000px;
  height: 100vh;
  margin: 20px auto;
  background-color: #121420;
}

@media all and (max-width: 880px) {
}
