@font-face {
  font-family: "Abel";
  font-display: block;
  font-style: normal;
  font-weight: 400;
  src: local("☺"),
    url(https://fonts.gstatic.com/s/abel/v8/MwQ5bhbm2POE2V9BPQ.woff2)
      format("woff2");
}

html {
  scroll-behavior: smooth;
}

body {
  z-index: 0;
  display: flex;
  background-color: #272934;
  background-attachment: fixed;
  background-size: cover;
  font-size: 16px;
  flex-flow: wrap;
  font-family: "Source Sans Pro", sans-serif;
  color: #cec9c7;
}

xmp {
  margin: 0 0;
}

.frameVertical {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: space-between;
}

.frameHorizontal {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
}

/*
 * content
 */

.content {
  width: 66vw;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #121420;
}

@media all and (max-width: 880px) {
}
