@font-face {
  font-family: "Abel";
  font-display: block;
  font-style: normal;
  font-weight: 400;
  src: local("☺"),
    url(https://fonts.gstatic.com/s/abel/v8/MwQ5bhbm2POE2V9BPQ.woff2)
      format("woff2");
}

html {
  scroll-behavior: smooth;
}

body {
  z-index: 0;
  display: flex;
  background-color: #272934;
  background-attachment: fixed;
  background-size: cover;
  font-size: 16px;
  flex-flow: wrap;
}

xmp {
  margin: 0 0;
}

.frameVertical {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: space-between;
}

.frameHorizontal {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
}

/*
 * prettyprint
 */

pre.prettyprint,
code.prettyprint {
  background-color: #0a2239;
  border-radius: 8px;
}

pre.prettyprint {
  width: 95%;
  margin: 1em auto auto auto;
  padding: 1em;
  white-space: pre-wrap;
  border: none;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae;
}

/*
 * content
 */

.content {
  width: 66vw;
  max-width: 1000px;
  height: 100vh;
  margin: 20px auto;
  background-color: #121420;
}

@media all and (max-width: 880px) {
}
