.pln {
  color: #000;
}
@media screen {
  .str {
    color: #65b042;
  } /* string  - green */

  .kwd {
    color: #f72c25;
  } /* keyword - dark pink */

  .com {
    color: #aeaeae;
    font-style: italic;
  } /* comment - gray */

  .typ {
    color: #89bdff;
  } /* type - light blue */

  .lit {
    color: #3387cc;
  } /* literal - blue */

  .pun {
    color: #cec9c7;
  } /* punctuation - white */

  .pln {
    color: #cec9c7;
  } /* plaintext - white */

  .tag {
    color: #f72c25;
  } /* html/xml tag    - light blue */

  .atn {
    color: #f1aa19;
  } /* html/xml attribute name  - khaki */

  .atv {
    color: #65b042;
  } /* html/xml attribute value - green */

  .dec {
    color: #3387cc;
  } /* decimal - blue */
}
@media print, projection {
  .kwd,
  .tag,
  .typ {
    font-weight: 700;
  }
  .str {
    color: #060;
  }
  .kwd {
    color: #006;
  }
  .com {
    color: #600;
    font-style: italic;
  }
  .typ {
    color: #404;
  }
  .lit {
    color: #044;
  }
  .clo,
  .opn,
  .pun {
    color: #440;
  }
  .tag {
    color: #006;
  }
  .atn {
    color: #404;
  }
  .atv {
    color: #060;
  }
}

pre.prettyprint {
  background-color: #0a2239;
  border-radius: 8px;
  padding: 2px;
  width: 100%;
  margin: 20px 0px;
  font-size: 16px;
}

ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #cec9c7;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
}

li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background-color: #091c2f;
  border-radius: 2px;
  padding: 2px;
}
